.form-container {
  .primary-btn.MuiButtonBase-root.MuiButton-root {
    background-color: $primary-color !important;
    box-shadow: 0px 4px 20px 10px rgba(66, 83, 240, 0.25) !important;
    border-radius: 0px !important;
    transition: all 0.3s;
  }
  .primary-btn.MuiButtonBase-root.MuiButton-root:hover {
    opacity: 0.9;
  }
  .secondary-btn.MuiButtonBase-root.MuiButton-root {
    border-color: $primary-color !important;
    color: $primary-color !important;
    border-radius: 0px !important;
  }
}
